/*Text*/
.content-heading{
  padding-top: 15px;
}
body {
  padding-top: 60px;
  color: rgb(50, 50, 50);
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#intro{
  min-height: 100%;
  background-size: cover;
  background: url(pictures/java.png) no-repeat center center;
}
h1{
  color:black;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
}
h2{
  color:black;
}
h3{
  color:black;
}
h4{
  color:black;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(100, 100, 100);
  background-color: transparent;
  text-decoration: none;
}

.navbar-custom {
  background-color: rgba(232,232,232,0.8);
} 

#custom-tab {
  font-size: larger;
  font-weight: 500;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1200px;
  }
}
 /* 
.education{
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
*/