/*Text*/
.content-heading{
  padding-top: 15px;
}
/*head{
    background-color: white;
}
body{
    background-color:rgb(45, 41, 49);
    color: white;
    font-family: "Arial";
}
h1{
    padding-left: 43%; /* double check later
}
h2{
    font-size: 35px;
}
p1{
  font-size: 25px;  
}

Styling
mark{
    background-color: black;
}*/
a:link {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
  }
 /* 
.education{
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
*/